body{
  background-color: #DFDEDA;
  font-family: 'poppins' sans-serif;
}

.App{
  position: absolute;
  width: min(90vw, 500px);
  background-color: #4A6054;
  text-align: center;
  color: #fff;
  padding: 40px;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  border-radius: 20px;
}

h1{
  font-size: 30px;
}

h2{
  font-size: 30px;
}

button{
  background-color: #B0BAAF;
  color: #4A6054;
  padding: 10px;
  border: none;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
  transition: all .3s;
}

button:hover{
  opacity: 0.6;
}

button:not(:last-child){
  margin-right: 20px;
}
